/* Header Styles */

header {
	height: 450px;
	background: url(img/_hero-bg.jpg) center center;
	background-size: cover;
	font-family: sans-serif;
}

header .logo {
	height: 75px;
	width: 75px;
	float: left;
	margin: 10px;
	padding: 0;
}


header a {
	display: inline-block;
	margin-left: 20px;
	font-weight: 700;
	font-size: 14px;
	color: rgba(0,0,0,0.7);
	text-transform: uppercase;
	text-decoration: none;
}
header a:hover {
	color: rgba(0,0,0,1);
	}

header h1 {
	font-size: 72px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.05em;
	margin-bottom: 20px;
	clear:both;
	padding-top: 110px;
}

header h1 span {
	display: inline-block;
	padding: 0.2em 0.5em;
	border:white solid 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.kicker {
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	color:white;
	letter-spacing: 0.05em;

}

header nav {
	float: right;
	margin: 30px 30px 0 0;

}

/* End Header Section */



/* Footer Styles */
footer {
	background: url(img/_hero-bg.jpg) center center;
	background-size: cover;
}


footer .logo {
	height: 50px;
	width: 50px;
	float: left;
	margin: 10px;
	padding: 0;
}

footer .lockup {
	padding: 50px 30px;
}

.content-wrap {
	float: left;
}

.copyright {
	margin:0;
	text-transform: uppercase;
	font-size: 12px;
	color: rgba(0,0,0,.4);
	float: left;
	margin-left: 30px;
}

footer a {
	display: inline-block;
	margin-left: 30px;
	padding-top: 15px;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: rgba(0,0,0,0.4);
	text-decoration: none;
}
footer a:hover {
	color: rgba(0,0,0,1);
	}

/*End Footer*/


/*About Styles*/
section {
	text-align: center;
}
section h3 {
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	padding: 100px 0 30px;
	font-family:sans-serif;
	color: rgb(127, 142, 155);
}

.face-lockup {
	max-width: 780px;
	display:-webkit-box;
	display: -moz-box;
	display: box;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content:center;
	justify-content: space-around;
}

@media screen and (max-width: 650px){
	.face-lockup {
		display: block;
		text-align: center;
	}
	.about div {
		display: inline-block;
	}
	section div .face-img {
		display: block;
		background-position: center center;
		width: 200px;
		background-repeat: no-repeat;
		margin: auto;
		display: block;
	}
}

.face-img {
	width: 200px;
	height:200px;
	border-radius: 50%;
	background-color: black;
	order: 3;
}
.icon {
	height: 75px;
	width: 75px;
	padding-top:12px;
}
.icon-html {
	order: 1;
	height: 100px;
	width: 100px;
	background-color: #e5eaee;
	border-radius: 50%;
}
.icon-css {
	order: 2;
	height: 100px;
	width: 100px;
	background-color: #e5eaee;
	border-radius: 50%;
}
.icon-js {
	order: 4;
	height: 100px;
	width: 100px;
	background-color: #e5eaee;
	border-radius: 50%;
}
.icon-sql {
	order: 5;
	height: 100px;
	width: 100px;
	background-color: #e5eaee;
	border-radius: 50%;
}
@media screen and (max-width: 650px)
{
	.face-lockup {
		display: block;
		text-align: center;
	}
	div .icon-* {
		display: inline-block;
	}
	.face-img {
		display: block;
		background-position: center center;
		width: 200px;
		background-repeat: no-repeat;
		margin: auto;
	}
}
.blurb {
	max-width: 620px;
	padding:0 15px;
	margin:50px auto;
	font-size: 24px;
	text-align: center;
	font-weight: 300;
	font-family: sans-serif;
}
/* End About */

/*clearfix*/
.btcf:after{
	content: "";
	display: table;
	clear: both;
}


/*Contact Section */
.contact {
	background-color: rgba(150, 150, 150, 0.17);
	font-family: sans-serif;
}
.contact h3 {
	margin-top: 0;
}
.social-links {
	max-width: 700px;
	margin: 0px auto 50px;
	display: flex;
	justify-content: space-around;
}

.social-links a {
	display:block;
	background: rgb(127, 142, 155);
	height: 50px;
	width: 50px;
	line-height: 50px;
	color: white;
	border-radius: 50%;
	font-size: 28px;
	text-decoration: none;
	transition: transform 0.1s ease;
}

.social-links a:hover {
	transform:scale(1.2);
}

.bar {
	width: 250px;
	height: 0px;
	border-top: 4px solid rgb(127, 142, 155);
	margin: 0px auto 75px;
}

.biglink {
	display: inline-block;
	text-align: center;
	font-size: 72px;
	font-weight: 300;
	color: rgb(127, 142, 155);
	text-decoration: none;
	line-height: 1;
	padding-bottom: 100px;
}
/* Email form styles */
form {
	max-width: 450px;
	margin: 0 auto 100px;
	padding: 0px 20px;
}
.contact-info-group label {
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.contact-info-group label:nth-child(1) {
	padding-right: 5px;
}
.contact-info-group label:nth-child(2) {
	padding-left: 5px;
}
form label {
	display: block;
	margin-bottom: 10px;
	text-align: left;
	font-family: sans-serif;
}

form label span {
	display: block;
}

form input, textarea {
	border: 3px solid rgb(127, 142, 155);
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	appearance: none;
}
form input:focus, textarea:focus {
	border-color: rgba(127, 142, 155, 0.27);
	outline: none;
}
textarea {
	height: 10em;
}
input[type="submit"] {
	background: rgb(127, 142, 155);
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	width: 33%;
}
.submit-wrap {
	text-align: right;
}
input[type="submit"]:hover {
	background: rgba(127, 142, 155, 0.27);
	border-color: rgba(127, 142, 155, 0.27);
}
/* End Email Form Styles */

/* Work Section Styles */
.work-section {
	background: rgba(150, 150, 150, 0.17);
}
.work-section h3 {
	margin: 0;
}
.thumb-container {
	max-width: 960px;
	margin: 0px auto;
}
.thumb-unit {
	width: 25%;
	height: 150px;
	display: inline-block;
	float: left;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background: white;
	overflow: hidden;
	}
.thumb-overlay {
	position: absolute;
	height:100%;
	top: 100%;
	bottom: null;
	left: 0;
	right: 0;
	background: rgba(127, 142, 155, .5);
	transition: top 0.2s linear;
	text-align: center;
	cursor: pointer;
}
.thumb-container .thumb-unit strong {
	padding: 20px;
	display: block;
	color: white;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 1.2;
}
.thumb-unit:hover .thumb-overlay {
	position: absolute;
	top: 0%;
	bottom: 0;
	left:0;
	right:0;
}

@media screen and (max-width: 760px) {
	.thumb-unit{
		width: 50%;
}
}
.work-section {
	overflow-x: hidden;
}
.work-belt {
	width: 200%;
	position: relative;
	transition: left 500ms ease;
}
.thumb-wrap, .work-wrap {
	width: 50%;
	float: left;
}
.work-container {
	max-width: 600px;
	margin: 0px auto;
	display: none;
}
.work-container img {
	max-width: 100%;
	margin-bottom: 20px;
}
.work-container h4 {
	color: rgb(127, 142, 155);
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1.2;
	font-family: sans-serif;
}
.work-return {
	position: absolute;
	display: block;
	width: 40px;
	cursor: pointer;
	opacity: 0.5;
}
.work-return:hover {
	opacity: 1;
}
@media (max-width: 740px) {
	.work-return {
		display: inline;
		position: relative;
	}
}
/* End Work Styles */
